[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Core
Comment=Connect to the Ajwm P2P Network
Exec=ajwm-qt %u
Terminal=false
Type=Application
Icon=ajwm128
MimeType=x-scheme-handler/ajwm;
Categories=Office;Finance;
